<h2>{{titleScreen}}</h2>

<form [formGroup]="userForm" (ngSubmit)="createUser()" class="form-column">
    <mat-form-field>
        <input type="text" matInput placeholder="Nome" [(ngModel)]="user.nome" name="nome" formControlName="nome"
            required>
    </mat-form-field>
    <mat-form-field *ngIf="idUsuario == undefined">
        <input type="email" matInput placeholder="E-mail" [(ngModel)]="user.email" name="email" formControlName="email"
            required>
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput placeholder="Setor" [(ngModel)]="user.setor" name="setor" formControlName="setor"
            required>
    </mat-form-field>
    <mat-form-field *ngIf="idUsuario == undefined">
        <input type="text" matInput placeholder="Login" [(ngModel)]="user.login" name="login" formControlName="login"
            required>
    </mat-form-field>

    <div class="buttons-in-row">
        <button type="submit" mat-raised-button color="primary">{{txtButton}}</button>
        <button type="button" mat-raised-button (click)="cancel()">Cancelar</button>
    </div>

</form>