.sidenav {
    background-color: #673ab7;
    width: 170px;
}

.sidenav span {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 35px;
}

.sidenav a {
    color: white;
}

.sidenav i {
    padding-right: 10px;
}

.pad-all {
    background-color: #FFF;
    padding: 15px;
}