<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
        <mat-nav-list class="nav-list">
            <div class="compras">
                <strong>
                    <a>COMPRAS</a>
                </strong>
            </div>

            <hr>

            <a mat-list-item (click)="navigator(1)">
                <i class="material-icons">home</i>Início
            </a>
            <a mat-list-item (click)="navigator(2)">
                <i class="material-icons">assignment</i>Requisição
            </a>
            <a mat-list-item (click)="navigator(3)">
                <i class="material-icons">work</i>Fornecedor
            </a>
            <a mat-list-item (click)="navigator(4)">
                <i class="material-icons">monetization_on</i>Cotação
            </a>
            <a mat-list-item (click)="navigator(5)">
                <i class="material-icons">account_circle</i>Usuário
            </a>
            <a mat-list-item (click)="navigator(6)">
                <i class="material-icons">login</i>Login
            </a>
            <a mat-list-item (click)="navigator(7)">
                <i class="material-icons">exit_to_app</i>Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="pad-all">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>