<h2>Novo Fornecedor</h2>
<form class="form-column">
    <mat-form-field>
        <input matInput placeholder="CPF / CNPJ" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nome / Razão Social" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="RG / Inscrição Estadual">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="E-mail" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telefone">
    </mat-form-field>

    <div class="align-h3">
        <h3>Endereço</h3>
    </div>

    <mat-form-field>
        <input matInput placeholder="CEP" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Rua" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Número" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Complemento">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Bairro" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cidade" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Estado" required>
    </mat-form-field>
</form>

<div class="buttons-in-row">
    <button mat-raised-button color="primary">Salvar</button>
    <button mat-raised-button>Cancelar</button>
</div>