<h2>Novo Fornecedor</h2>
<form [formGroup]="fornecedorForm" (ngSubmit)="createFornecedor()" class="form-column">
    <mat-form-field>
        <input matInput placeholder="CPF / CNPJ" [(ngModel)]="fornecedor.cpfCnpj" name="cpfCnpj"
            formControlName="cpfCnpj" required mask="CPF_CNPJ">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Nome / Razão Social" [(ngModel)]="fornecedor.nomeRazao"
            name="nomeRazao" formControlName="nomeRazao" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="RG / Inscrição Estadual" [(ngModel)]="fornecedor.rgInscricao" name="rgInscricao"
            formControlName="rgInscricao">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="email" placeholder="E-mail" [(ngModel)]="fornecedor.email" name="email"
            formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telefone" [(ngModel)]="fornecedor.telefone" name="telefone"
            formControlName="telefone" mask="(00) 00000-0000||(00) 0000-0000">
    </mat-form-field>

    <div class="align-h3">
        <h3>Endereço</h3>
    </div>

    <mat-form-field>
        <input matInput placeholder="CEP" [(ngModel)]="endereco.cep" name="cep" formControlName="cep" required
            mask="00.000-000">
    </mat-form-field>

    <!-- <div style="text-align: center">
        <button type="button" mat-raised-button color="primary" (click)="searchCep()">Localizar CEP</button>
    </div> -->

    <mat-form-field>
        <input matInput type="text" placeholder="Rua" [(ngModel)]="endereco.logradouro" name="logradouro"
            formControlName="logradouro" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Número" [(ngModel)]="endereco.numero" name="numero"
            formControlName="numero" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Complemento" [(ngModel)]="endereco.complemento"
            formControlName="complemento" name="complemento">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Bairro" [(ngModel)]="endereco.bairro" name="bairro"
            formControlName="bairro" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Cidade" [(ngModel)]="endereco.localidade" name="localidade"
            formControlName="localidade" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Estado" [(ngModel)]="endereco.uf" name="uf" formControlName="uf" required
            mask="SS">
    </mat-form-field>

    <div class="buttons-in-row">
        <button type="submit" mat-raised-button color="primary">Salvar</button>
        <button type="button" mat-raised-button (click)="cancel()">Cancelar</button>
    </div>

</form>