<mat-dialog-content style="width: 250px;" class="dialog">

    <h3>Solicitante</h3>

    <section>
        <span>Nome: </span>
        <label>{{user.nome}}</label>
        <br>
        <span>Setor: </span>
        <label>{{user.setor}}</label>
        <br>
        <span>email: </span>
        <label>{{user.email}}</label>
        <br>
    </section>

    <br>
    <div style="text-align: center;">
        <button mat-raised-button (click)="hideDialog()">OK</button>
    </div>

</mat-dialog-content>