<h2>Nova Cotação</h2>

<form class="form-column">
    <mat-form-field>
        <input matInput placeholder="Fornecedor" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Requisição" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Valor Total" required>
    </mat-form-field>
</form>

<div class="buttons-in-row ">
    <button mat-raised-button color="primary">Salvar</button>
    <button mat-raised-button>Cancelar</button>
</div>