<button mat-raised-button color="primary" routerLink="/fornecedor/create">
  Novo Fornecedor
</button>

<div class="mat-elevation-z4">
  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- IdFornecedor Column -->
    <ng-container matColumnDef="idFornecedor">
      <th mat-header-cell *matHeaderCellDef>#Id</th>
      <td mat-cell *matCellDef="let row">{{row.idFornecedor}}</td>
    </ng-container>

    <!-- CpfCnpj Column -->
    <ng-container matColumnDef="cpfCnpj">
      <th mat-header-cell *matHeaderCellDef>CPF/CNPJ</th>
      <td mat-cell *matCellDef="let row">{{row.cpfCnpj}}</td>
    </ng-container>

    <!-- NomeRazao Column -->
    <ng-container matColumnDef="nomeRazao">
      <th mat-header-cell *matHeaderCellDef>Nome/Razão Social</th>
      <td mat-cell *matCellDef="let row">{{row.nomeRazao}}</td>
    </ng-container>

    <!-- RgInscricao Column -->
    <ng-container matColumnDef="rgInscricao">
      <th mat-header-cell *matHeaderCellDef>RG/Inscrição</th>
      <td mat-cell *matCellDef="let row">{{row.rgInscricao}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- Telefone Column -->
    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let row">{{row.telefone}}</td>
    </ng-container>

    <!-- Endereco Column -->
    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef>Endereço</th>
      <td mat-cell *matCellDef="let row">
        <i (click)="dialogEndereco(row.endereco)" style="cursor: pointer;" class="material-icons">account_circle</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 50, 100]">
  </mat-paginator>
</div>