.form-row {
    display: flex;
    flex-direction: row;
}

.form-row {
    width: 55%;
    justify-self: center;
    align-self: center;
}

.align-size mat-form-field {
    width: 55%;
    justify-self: center;
    align-self: center;
}

.align-size {
    text-align: center;
}