<div class="align-size">
    <form class="form-column">

        <div class="form-row">
            <mat-form-field>
                <input matInput placeholder="Descrição" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Quantidade" required>
            </mat-form-field>
        </div>

        <mat-form-field>
            <input matInput placeholder="Observação" required>
        </mat-form-field>

    </form>

    <button mat-raised-button color="primary">Salvar</button>
    <button mat-raised-button>Cancelar</button>
</div>