.form-row {
    display: flex;
    flex-direction: row;
}

.form-row {
    width: 60%;
    justify-self: center;
    align-self: center;
}

.btn-add-itens {
    justify-self: center;
    align-self: center;
}

.field-qnt {
    margin-left: 25px;
}

.table-itens {
    width: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-self: center;
    align-self: center;
}

.table-itens table {
    width: 100%;
    text-align: start;
}