<h2>Faça o Login</h2>
<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label> Login</mat-label>
            <input type="text" matInput id="loginFormLogin" formControlName="login" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> E-mail</mat-label>
            <input type="email" matInput id="loginFormEmail" formControlName="email" required>
        </mat-form-field>
        <button mat-raised-button color="primary"> Acessar</button>
    </form>
</div>