<mat-dialog-content style="width: 250px;" class="dialog">

    <h3>Requisição</h3>

    <section>
        <span>#id: </span>
        <label>{{requisicao.idRequisicao}}</label>
        <br>
        <span>Solicitante: </span>
        <label>{{requisicao.solicitante.nome}}</label>
        <br>
        <span>Observação: </span>
        <label>{{requisicao.observacao}}</label>
        <br>
    </section>

    <br>
    <div style="text-align: center; margin-bottom: 10px;">
        <button mat-raised-button (click)="hideDialog()">OK</button>
    </div>

</mat-dialog-content>