.home {
    margin: 10px;
}

.home .title {
    font-size: 2rem;
    font-weight: 350;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 0.9rem;
}

.home .content {
    font-size: 1.1rem;
}

.home .topics {
    font-size: 1rem;
}