<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Este é o Módulo do Setor de Compras
    </mat-card-subtitle>
    <mat-card-content class="content">
        Neste Módulo é possível:
        <br>
        <br>
        <span class="topics">
            • Registrar Requisições de compra.<br>
            • Acompanhar uma Requisição.<br>
            • Consultar e Registrar Fornecedores.<br>
            • Consultar e Registrar Cotações.<br>
            • Consultar e Registrar Usuários.
        </span>
    </mat-card-content>
</mat-card>